@import "../../../../styles/libs/veriables", "../../../../styles/libs/adaptive",
  "../../../../styles/libs/mixins";
.root {
  @include flex-column;
  gap: 24px;
  margin-bottom: 98px;

  &__image {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    max-width: 130px;
    width: 100%;
    height: 100%;

    @media (max-width: 600px) {
      margin: auto;
    }
  }

  &__group_info {
    @include flex-gap(12px);
    &__label {
      font-weight: 600;
    }

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}
