@import "../../../../styles/libs/veriables", "../../../../styles/libs/adaptive",
  "../../../../styles/libs/mixins";

.root {
  @include flex-center-between;
  gap: 60px;
  margin-bottom: 50px;

  @include _1000 {
    @include flex-column;
  }

  img {
    transition: all 0.5s;
    margin: 0 auto;

    object-fit: contain;

    &:hover {
      scale: (1.2);
    }
  }
  &__info {
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);

    max-width: 670px;
  }

  &__rating {
    @include flex-center;
    font-size: 16px;
    margin-bottom: 12px;
    gap: 12px;
    font-weight: 500;

    $colorValue: rgb(92, 210, 92);
    width: max-content;
    height: max-content;

    &__value {
      font-size: 24px;
      font-weight: 700;
      color: $colorValue;
    }
  }

  &__buy {
    font-size: 16px;
    font-weight: 500;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 36px;
  }

  &__description {
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 24px;
  }

  &__bottom {
    @include flex-center-center;
    @media (max-width: 850px) {
      flex-direction: column-reverse;
    }

    gap: 100px;

    a {
      @include flex-center;
      @include button(
        $color-main,
        $color-black-18,
        $color-black-18,
        $color-main
      );
      width: max-content;

      border-color: $color-gray-a1;
    }
  }

  &__fix {
    font-size: 17px;
    svg {
      margin-left: 20px;
    }
    &:hover {
      svg {
        fill: $color-main;
      }
    }
  }
}
