@import "../../src/styles/libs/veriables";
.root {
  padding-inline: 40px;
  $widthSvg: 23px;
  input {
    @include authInput;
  }
  input::placeholder {
    opacity: 0.6;
    font-size: 16px;
  }

  .title {
    p {
      @include authDiscription;
    }
  }
  .block {
    min-height: 72px;
    margin-bottom: 17px;
  }

  .input__group {
    position: relative;
    input {
      width: 100%;
      box-sizing: border-box;
      &:focus + svg {
        stroke: $color-black-39;
      }

      &:is(.invalid) + svg {
        stroke: $red-ec;
      }
      &:not(:focus) + svg {
        stroke: $color-gray-a1;
      }
    }
    svg {
      width: $widthSvg;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      cursor: pointer;
      left: calc(100% - 2.6rem);
    }

    // &--password {
    //   position: relative;
    //   .icon {
    //     position: absolute;
    //     left: calc(100% - 2.6rem);
    //     top: 50%;
    //     transform: translateY(-50%);
    //   }

    //   .icon::after {
    //     display: block;
    //     content: "😳";
    //     font-size: 1.5rem;
    //   }

    //   input:valid + .icon::after {
    //     content: "🥳";
    //   }
    // }
  }
  .bottom {
    .group__btns {
      @include flex-column;
      margin-bottom: 32px;

      $paddingTopButton: 6px;

      gap: 18px;
      button {
        padding: $paddingTopButton calc($widthSvg * 2) !important;
        font-weight: 600;
        width: 100%;
        border-width: 2px !important;
        font-size: 16px;
        letter-spacing: 0.54px;
        @include flex-center-center;
        gap: 0.7rem;
      }

      .submit {
        button {
          padding-block: calc($paddingTopButton * 2) !important;
          @include button;
          margin-block: 15px 0px;
          font-size: 18px;
          &:is(.hide) {
            pointer-events: none;
            opacity: 0.5;
          }
        }
      }

      .google,
      .gitHub {
        svg {
          transition: fill 0.5s;

          width: $widthSvg;
          height: auto;

          pointer-events: none;
        }
      }

      .google {
        button {
          @include button(
            $google-peach,
            $color-main,
            $color-main,
            $color-black-39
          );
          border-color: $google-peach;
        }
        svg path {
          fill: $color-main;
        }
        &:hover {
          svg path {
            fill: $color-black-39;
          }
        }
      }
      .gitHub {
        button {
          @include button(
            $blue-gitHub,
            $color-main,
            $color-main,
            $color-black-39
          );
          border-color: $blue-gitHub;
        }

        &:hover {
          svg g {
            fill: $blue-gitHub;
          }
        }
      }
    }

    .notRegister {
      @include authDiscription;
      margin-block: 0px;

      a {
        color: blue;
        font-weight: 600;
      }
    }
  }
}
