@import "../../src/styles/libs/veriables";
.root {
  padding-inline: 40px;
  input {
    @include authInput;
    &::placeholder {
      opacity: 0.6;
      font-size: 16px;
    }
    &::selection {
      background-color: $color-gray-a1;
    }
  }

  .title {
    p {
      @include authDiscription;
    }
  }

  .submit {
    @include button;
    margin-block: 15px 0px;
    font-size: 19px;
    width: 100%;
    font-weight: 500;

    &:hover {
      border: 1px solid $color-black-18;
    }
  }

  .block {
    min-height: 72px;
    margin-bottom: 17px;
  }
  .input__group {
    position: relative;
    &--password {
      .smile::after {
        display: block;
        content: "😴";
        font-size: 1.4rem;
      }
      input {
        padding: 0.8rem 4.9rem 0.8rem 1.3rem;
        &:is(.invalid) ~ .smile::after {
          content: "😳";
        }
      }
    }
    input {
      width: 100%;
      box-sizing: border-box;
      // &:valid {
      //   border: 1.5px solid $forest-green;
      // }

      &:focus + svg {
        stroke: $color-black-39;
      }

      &:is(.invalid) + svg {
        stroke: $red-ec;
      }
      &:not(:focus) + svg {
        stroke: $color-gray-a1;

        ~ .smile::after {
          filter: sepia(100%) saturate(0%);
        }
      }
    }

    svg,
    .smile {
      position: absolute;
      left: calc(100% - 2.6rem);
      top: 50%;
      transform: translateY(-50%);
    }

    .eye {
      cursor: pointer;
      left: calc(100% - 4.6rem);
    }
  }
  .notRegister {
    @include authDiscription;
    margin-block: 20px;

    a {
      color: blue;
      font-weight: 600;
    }
  }
}
