@import "../libs/veriables";
.root {
  margin-block: 90px;
  h1 {
    font-size: $font-size-h1;
    margin-bottom: 70px;
  }

  .catalog {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: center;
    row-gap: 60px;
  }
}
