@import "../../styles/libs/veriables", "../../styles/libs/adaptive",
  "../../styles/libs/mixins";

.root {
  @include flex-column;
  gap: 40px;
  margin-block: 40px;
  position: relative;
  transition-duration: $duration;
  min-height: 100%;
  transition-property: min-height;
  min-height: calc(100vh - $height-header * 2);
  &.loading {
    justify-content: center;
    /* animation: unset; */
    align-items: center;
  }

  @include _710 {
    align-items: center;
  }

  &__pagination {
    margin: 0 auto;
  }
}
