@import "../../styles/libs/veriables", "../../styles/libs/adaptive",
  "../../styles/libs/mixins";
.root {
  &__inner_block {
    position: relative;
  }
  &__smile,
  &__eye {
    position: absolute;
    left: calc(100% - 2.6rem);
    top: 50%;
    transform: translateY(-50%);
  }

  &__smile::after {
    content: "😀";
    font-size: 1.5rem;
    color: $color-gray-a1;
  }

  &__eye {
    cursor: pointer;
    left: calc(100% - 4.6rem);
  }

  &:is(.invalid) ~ .root__smile::after {
    content: "😳";
  }

  &:not(:focus) ~ .root__smile::after {
    filter: sepia(100%) saturate(0%);
  }
}
