@import "../../../../styles/libs/veriables", "../../../../styles/libs/mixins";

.root {
  @include flex-center-between;
  gap: 30px;
  &__total_price {
    font-size: 36px;
    font-weight: 800;
    line-height: 32px;

    @media (max-width: 570px) {
      font-size: 23px;
      line-height: 28px;
    }
  }

  &__total_count {
    font-size: 18px;
    line-height: 20px;
  }

  @media (max-width: 570px) {
    flex-direction: column;
  }
}
