@import "../../styles/libs/veriables", "../../styles/libs/adaptive",
  "../../styles/libs/mixins";
.root {
  @include flex-center-center;
  // height: calc((100vh) - $height-header);
  flex-direction: column;
  position: relative;
  @include _1000 {
    margin-block: 100px;
  }

  &.loading {
    height: calc((100vh) - $height-header - 100px);
  }

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
