@import "../../src/styles/libs/veriables";

.bottom {
  @include flex-center-center;
  gap: 60px;
  .btnChange {
    @include button;
    font-size: 16px;
  }

  .signOut {
    @include button($red-ec, $color-main, $color-main, $color-black-39);
    border: 1px solid $red-ec !important;

    font-size: 16px;
  }
}
