@import "../../styles/libs/veriables";
@import "../../styles/libs/adaptive";

.root {
  border-bottom: 1px solid $color-main;
  .wrapper {
    @include flex-center-between;

    height: $height-header;
  }

  .logo {
    @include logo;

    span {
      @include _970 {
        font-size: 14px;
      }
    }
  }
}
