@import "../../styles/libs/veriables";

.root {
  border-bottom: 1px solid $color-main;
  .wrapper {
    @include flex-center-between;

    height: $height-header;
  }

  .logo {
    @include logo;
  }

  .nav,
  .nav a {
    @include flex-center-between;
    gap: 40px;
    a {
      gap: 15px;
    }
    span {
      font-size: 17px;
      font-weight: 400;
      color: $color-black-18;
    }
  }
}
