@import "../../../../src/styles/libs/veriables";

.root {
  @include flex-column;
  gap: 40px;
  margin-block: 40px;
  .top {
    @include flex-center-between;
    margin-bottom: 30px;
  }

  .btn__back {
    @include button;
    display: flex;
    width: max-content;
    padding: 6px 20px;
  }

  .pagination {
    margin: 0 auto;
  }

  .product {
    @include flex-center-between;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid $color-gray-a1;
    transition: all 0.4s;

    &:hover {
      transform: scale(1.02, 1.01);
      box-shadow: 0 5px 10px rgba(178, 178, 178, 0.5);
    }

    .textGroup {
      @include flex-center-between;
      gap: 50px;
      .title {
        font-size: 17px;
        max-width: 250px;
        min-width: 330px;
        overflow: hidden;
        margin: auto 0;
        text-overflow: ellipsis;
        text-wrap: nowrap;
      }
      .discr {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.3em;
        font-size: 15px;
        max-width: 281px;
      }
    }

    .price {
      max-width: 100px;
      min-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-wrap: nowrap;
    }

    .pen {
      svg {
        transition: all 0.5s;
        &:hover {
          transform: scale(1.4, 1.3);
          fill: $color-black-18;
        }
      }
    }

    .delete {
      svg {
        transition: all 0.5s;
        color: $red-ec;
        &:hover {
          transform: scale(1.4, 1.3);
        }
      }
    }
  }
}
