@import "../../src/styles/libs/veriables";
.root {
  margin-block: 40px;
}
.signOut {
  @include button($red-ec, $color-main, $color-main, $color-black-39);
  border: 1px solid $red-ec !important;

  font-size: 15px;
}
