@import "../../src/styles/libs/veriables";
.root {
  @include flex-center-center;
  height: calc(100vh - $height-header);

  h1 {
    font-size: 150px;
    font-weight: 800;
    -webkit-text-stroke: 3px black;
    -webkit-text-fill-color: transparent;
    margin-bottom: 87px;
  }
  .error {
    // @include flex-center-center;
    // flex-direction: column;
    text-align: center;
  }
  span {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
  }

  a {
    margin: 0 auto;
    display: block;
    border: 1px solid $color-gray-a1;
    border-radius: 10px;
    padding: 10px 30px;
    transition: all 0.5s;
    font-size: 16px;
    width: max-content;
    &:hover {
      background: $color-black-18;
      color: $color-main;
    }
  }
}
