@import "../../src/styles/libs/veriables";

.root {
  @include flex-column;
  gap: 20px;
  margin-block: 40px 130px;

  .groupInfo {
    label {
      margin-right: 30px;
    }
  }
}

.label {
  font-weight: 600;
}
