@import "../../styles/libs/veriables";
@import "../../styles/libs/adaptive";
.root {
  width: 100%;
  padding-block: 35px;
  background-color: $color-black-18;
  $colorFontFooter: rgb(227, 227, 227);
  color: $colorFontFooter;
  .blocks {
    @include flex-center-between;
    gap: 29px;

    @include less_660 {
      gap: 58px;
    }

    flex-wrap: wrap;
    .logo {
      @include logo;
      a {
        @include flex-center-between;
        gap: 20px;
      }
      h2 {
        color: $color-main;
      }
    }
    .nav,
    .contacts,
    .logo {
      margin: auto;
    }
    .nav {
      ul:first-child {
        font-weight: 600;
      }
      li + li {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
      }
    }
    .contacts {
      @include flex-column;
      align-items: center;
      gap: 30px;
      figure {
        display: flex;
        gap: 15px;
      }

      .adress {
        text-align: center;
        font-size: 15px;
      }

      .private {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}
