@import "../../src/styles/libs/veriables";
.root {
  margin-block: 50px 40px;
  .basket__top {
    .cleanBusket {
      @include flex-center;
      gap: 5px;
      margin-left: auto;
    }
  }
  .list__items {
    margin-block: 20px;
    .product {
      @include flex-center-between;

      padding: 20px;
      border-radius: 20px;
      border: 1px solid #a1a1a1;
      transition: all 0.4s;

      .text__group {
        @include flex-center;
        gap: 60px;

        .title {
          font-size: 20px;
          width: 280px;
          overflow: hidden;
          margin: auto 0;
          text-overflow: ellipsis;
          text-wrap: nowrap;
        }
        p {
          width: 330px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          line-height: 1.3em;
          font-size: 15px;
        }
      }

      .btns {
        @include flex-center;
        gap: 40px;
        .counter {
          @include flex-center;
          gap: 15px;
        }

        .delete {
          display: flex;
          color: $red-ec;
        }

        button {
          cursor: pointer;
        }
      }

      .image {
        display: block;

        width: 160px;
        img {
          display: block;
          width: auto;
          margin: 0 auto;
        }
      }
    }
    .product + .product {
      margin-top: 20px;
    }
  }

  .bottom {
    @include flex-center-between;
    gap: 30px;
    .totalPrice {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
    }

    .totalCount {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
