@import "../../../../styles/libs/veriables", "../../../../styles/libs/adaptive",
  "../../../../styles/libs/mixins";

.root {
  display: none;

  transition-property: background-color;
  transition-duration: $duration;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;

  &:hover,
  &:active {
    background-color: rgb(235, 230, 230);
  }

  @include less_660 {
    @include flex-center-center;
  }
}
