@import "../../../../styles/libs/veriables", "../../../../styles/libs/adaptive",
  "../../../../styles/libs/mixins";

.root {
  @include flex-center-center;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  aspect-ratio: 1;
  &:hover,
  &:active {
    background-color: #ebe6e6;
  }
}
