@import "../../styles/libs/veriables";
@import "../../styles/libs/adaptive";

.root {
  @include flex-center-between;
  gap: 40px;

  a {
    @include flex-center-between;
    gap: 15px;
  }
  span {
    font-size: 17px;
    font-weight: 400;
    color: $color-black-18;
  }
}
