@import "../../../styles/libs/veriables", "../../../styles/libs/adaptive",
  "../../../styles/libs/mixins";

.root {
  width: 100%;

  &__field {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    border: 1px solid $color-gray-a1;
    border-radius: 0.3rem;
    font-size: 18px;
    padding: 0.8rem 3rem 0.8rem 1.3rem;
    width: 100%;
    color: $color-black-18;

    resize: none;

    &::placeholder {
      opacity: 0.6;
      font-size: 16px;
    }
    &::selection {
      background-color: $color-gray-a1;
      border: none !important;
    }

    &:focus {
      outline: none !important;
    }

    &:is(.invalid) {
      border: 1.5px solid #ec6b6b;
    }
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__maxLength {
    float: right;

    font-size: 14px;

    color: $color-gray-a1;
  }
}
